<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link"routerLink="/about">About Us</a></li>
            <li><a routerLink="/emp">Employee</a></li>
            <li><a routerLink="/emplist">employee-list</a></li>
            <li><a routerLink="/form">reactive-form</a></li>
            <li><a routerLink="/user">user</a></li>
            <li><a routerLink="/adduser">UserList</a></li>
            <li><a routerLink="/bind">BindingDemo</a></li>
            <li><a routerLink="/ngclass">ngclassdemo</a></li>

        </ul>
    </div>
</nav>
<router-outlet></router-outlet>